{% load static %}
<!DOCTYPE html>
<html class="dark" lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
</head>

<body class="overflow-x-hidden bg-gray-50 leading-8 text-gray-800 dark:bg-neutral-900 dark:text-gray-200">

{% include 'includes/messages.html' %}

{% include 'includes/navbar.html' %}

{% block body %}

{% endblock body %}

{% include 'includes/footer.html' %}

<script src="{% static 'js/main.js' %}"></script>

</body>